html {
  font-size: 16px;
}

:root {
  --black: #111517;
  --white: #fff;
  --grey-light: hsl(0, 0%, 98%);
}

body {
  background-color: var(--grey-light);
  font-family: 'Nunito Sans', sans-serif;
  color: var(--black);
}